<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
<!-- MDB -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css" rel="stylesheet"/>
<style>
  .unavailable { background-color: dimgray; }
</style>
<div class="container">
  <div class="row">
    <div class="col-12">
      <label>Position:</label>
      <select id="positionFilter" (change)="positionSelected($event)">
        <option>All</option>
        <option *ngFor="let pos of positionList">{{ pos }}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="row"> <!-- *ngFor="let datasource of positionalRanking2"-->
          <mat-table [dataSource]="positionalRanking2" #positionalRank matSort (matSortChange)="announceSortChange($event)" class="table">
            <!-- <caption style="caption-side: top; text-align: center;"><h2>{{ datasource.position }}</h2></caption> -->
          <ng-container matColumnDef="playerName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by playerName">
              Name
            </th>
            <td mat-cell *matCellDef="let element"> {{element.playerName}} </td>
          </ng-container>
          <ng-container matColumnDef="adp">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by adp">
              ADP
            </th>
            <td mat-cell *matCellDef="let element"> {{element.adp}} </td>
          </ng-container>
          <ng-container matColumnDef="eligible">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by eligible">
              Eligible
            </th>
            <td mat-cell *matCellDef="let element"> {{element.eligible}} </td>
          </ng-container>
          <ng-container matColumnDef="ab">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by ab">
              AB
            </th>
            <td mat-cell *matCellDef="let element"> {{element.ab}} </td>
          </ng-container>
          <ng-container matColumnDef="avg">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by avg">
              AVG
            </th>
            <td mat-cell *matCellDef="let element"> {{element.avg}} </td>
          </ng-container>
          <ng-container matColumnDef="hr">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by hr">
              HR
            </th>
            <td mat-cell *matCellDef="let element"> {{element.hr}} </td>
          </ng-container>
          <ng-container matColumnDef="rbi">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by rbi">
              RBI
            </th>
            <td mat-cell *matCellDef="let element"> {{element.rbi}} </td>
          </ng-container>
          <ng-container matColumnDef="r">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by r">
              Runs
            </th>
            <td mat-cell *matCellDef="let element"> {{element.r}} </td>
          </ng-container>
          <ng-container matColumnDef="sb">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by sb">
              SB
            </th>
            <td mat-cell *matCellDef="let element"> {{element.sb}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'unavailable': row.unavailable == 1}"></tr>
          </mat-table>
      </div>
    </div>
  </div>
  <!-- <td>
    <a href="https://www.fangraphs.com/players/{{ player.fangraphs_name }}/{{ player.fangraphs_id }}/stats" class="btn btn-success btn-sm">FG</a>
    &nbsp;&nbsp;<a href="https://dafl.baseball.cbssports.com/players/playerpage/{{ player.cbs_id }}/" class="btn btn-primary btn-sm">CBS</a>
    &nbsp;&nbsp;
    {{ player.playerName }}
  </td> -->
</div>
