<div *ngIf="team" class="container">
  <h2>{{team.name}}</h2>

  <div *ngIf="teamRoster" class="container">
    <table class="rosterCounts">
      <thead>
        <tr>
          <td>Position</td>
          <td>Player</td>
          <td>Salary</td>
          <td>Change Position</td>
        </tr>
      </thead>
      <tbody>
          <tr *ngIf="teamRoster.C">
              <td>C</td>
              <td><div>
                <a href="https://www.fangraphs.com/players/{{ teamRoster.C.fangraphs_name }}/{{ teamRoster.C.fangraphsId }}/stats" class="btn btn-success btn-sm">FG</a>
                &nbsp;<a href="https://dafl.baseball.cbssports.com/players/playerpage/{{ teamRoster.C.cbs_id }}/" class="btn btn-primary btn-sm">CBS</a>
                &nbsp;
              {{ teamRoster.C.name }}
              </div></td>
              <td>{{ teamRoster.C.salary }}</td>
              <td>
                  <span>
                    <button title='Move Player To'
                        (onclick)='MovePlayer(teamRoster.C.id, position)'
                        *ngFor="let position of teamRoster.C.eligiblePositions">
                      {{ position }}
                  </button>
                  </span>
              </td>
            </tr>
            <tr *ngIf="teamRoster.First">
                <td>1B</td>
                <td><div>
                  <a href="https://www.fangraphs.com/players/{{ teamRoster.First.fangraphs_name }}/{{ teamRoster.First.fangraphsId }}/stats" class="btn btn-success btn-sm">FG</a>
                  &nbsp;<a href="https://dafl.baseball.cbssports.com/players/playerpage/{{ teamRoster.First.cbs_id }}/" class="btn btn-primary btn-sm">CBS</a>
                  &nbsp;
                  {{ teamRoster.First.name }}</div>
                </td>
                <td>{{ teamRoster.First.salary }}</td>
                <td>
                    <span>
                      <span title='Move Player To'
                          (onclick)='MovePlayer(teamRoster.First.id, position)'
                          *ngFor="let position of teamRoster.First.eligiblePositions">
                        {{ position }}
                      </span>
                    </span>
                </td>
                </tr>
            <tr *ngIf="teamRoster.Second">
                <td>2B</td>
                <td>
                  <div>
                    <a href="https://www.fangraphs.com/players/{{ teamRoster.Second.fangraphs_name }}/{{ teamRoster.Second.fangraphsId }}/stats" class="btn btn-success btn-sm">FG</a>
                    &nbsp;<a href="https://dafl.baseball.cbssports.com/players/playerpage/{{ teamRoster.Second.cbs_id }}/" class="btn btn-primary btn-sm">CBS</a>
                    &nbsp;
                    {{ teamRoster.Second.name }}</div></td>
                  <td>{{ teamRoster.Second.salary }}</td>
                  <td>
                      <span *ngIf="teamRoster.Second">
                        <span title='Move Player To'
                            (onclick)='MovePlayer(teamRoster.Second.id, position)'
                            *ngFor="let position of teamRoster.Second.eligiblePositions">
                          {{ position }}
                        </span>
                      </span>
                  </td>
                </tr>
            <tr *ngIf="teamRoster.Third">
                <td>3B</td>
                <td><div>
                  <a href="https://www.fangraphs.com/players/{{ teamRoster.Third.fangraphs_name }}/{{ teamRoster.Third.fangraphsId }}/stats" class="btn btn-success btn-sm">FG</a>
                  &nbsp;<a href="https://dafl.baseball.cbssports.com/players/playerpage/{{ teamRoster.Third.cbs_id }}/" class="btn btn-primary btn-sm">CBS</a>
                  &nbsp;{{ teamRoster.Third.name }}</div></td>
                <td>{{ teamRoster.Third.salary }}</td>
                <td>
                    <span *ngIf="teamRoster.Third">
                      <span title='Move Player To'
                          (onclick)='MovePlayer(teamRoster.Third.id, position)'
                          *ngFor="let position of teamRoster.Third.eligiblePositions">
                        {{ position }}
                      </span>
                    </span>
                </td>
              </tr>
            <tr *ngIf="teamRoster.SS">
                <td>SS</td>
                <td><div>
                  <a href="https://www.fangraphs.com/players/{{ teamRoster.SS.fangraphs_name }}/{{ teamRoster.SS.fangraphsId }}/stats" class="btn btn-success btn-sm">FG</a>
                  &nbsp;<a href="https://dafl.baseball.cbssports.com/players/playerpage/{{ teamRoster.SS.cbs_id }}/" class="btn btn-primary btn-sm">CBS</a>
                  &nbsp;{{ teamRoster.SS.name }}</div></td>
                <td>{{ teamRoster.SS.salary }}</td>
                <td>
                    <span *ngIf="teamRoster.SS">
                      <span title='Move Player To'
                          (onclick)='MovePlayer(teamRoster.SS.id, position)'
                          *ngFor="let position of teamRoster.SS.eligiblePositions">
                        {{ position }}
                      </span>
                    </span>
                </td>
              </tr>
            <tr *ngIf="teamRoster.UT">
                <td>UT</td>
                <td><div>
                  <a href="https://www.fangraphs.com/players/{{ teamRoster.UT.fangraphs_name }}/{{ teamRoster.UT.fangraphsId }}/stats" class="btn btn-success btn-sm">FG</a>
                  &nbsp;<a href="https://dafl.baseball.cbssports.com/players/playerpage/{{ teamRoster.UT.cbs_id }}/" class="btn btn-primary btn-sm">CBS</a>
                  &nbsp;{{ teamRoster.UT.name }}</div></td>
                <td>{{ teamRoster.UT.salary }}</td>
                <td>
                    <span *ngIf="teamRoster.UT">
                      <span title='Move Player To'
                          (onclick)='MovePlayer(teamRoster.UT.id, position)'
                          *ngFor="let position of teamRoster.UT.eligiblePositions">
                        {{ position }}
                      </span>
                    </span>
                </td>
              </tr>
            <tr  *ngFor="let number of [0,1,2]">
                <td>OF</td>
                <td><div *ngIf="teamRoster.OF[number]">
                  <a href="https://www.fangraphs.com/players/{{ teamRoster.OF[number].fangraphs_name }}/{{ teamRoster.OF[number].fangraphsId }}/stats" class="btn btn-success btn-sm">FG</a>
                  &nbsp;<a href="https://dafl.baseball.cbssports.com/players/playerpage/{{ teamRoster.OF[number].cbs_id }}/" class="btn btn-primary btn-sm">CBS</a>
                  &nbsp;{{ teamRoster.OF[number].name }}</div></td>
                <td><span *ngIf="teamRoster.OF[number]">{{ teamRoster.OF[number].salary }}</span></td>
                <td>
                    <span *ngIf="teamRoster.OF[number]">
                      <span title='Move Player To'
                          (onclick)='MovePlayer(teamRoster.OF[number].id, position)'
                          *ngFor="let position of teamRoster.OF[number].eligiblePositions">
                        {{ position.position }}
                      </span>
                    </span>
                </td>
                  </tr>
            <tr  *ngFor="let number of [0,1,2,3,4,5,6,7]">
                <td>P</td>
                <td><div *ngIf="teamRoster.P[number]">
                  <a href="https://www.fangraphs.com/players/{{ teamRoster.P[number].fangraphs_name }}/{{ teamRoster.P[number].fangraphsId }}/stats" class="btn btn-success btn-sm">FG</a>
                  &nbsp;<a href="https://dafl.baseball.cbssports.com/players/playerpage/{{ teamRoster.P[number].cbs_id }}/" class="btn btn-primary btn-sm">CBS</a>
                  &nbsp;{{ teamRoster.P[number].name }}</div></td>
                <td><div *ngIf="teamRoster.P[number]">{{ teamRoster.P[number].salary }}</div></td>
                <td>
                    <span *ngIf="teamRoster.P[number]">
                      <a  title='Move Player To'
                          (click)='MovePlayer(teamRoster.P[number].id, position)'
                          *ngFor="let position of teamRoster.P[number].eligiblePositions">
                        {{ position.position }}
                      </a>
                    </span>
                </td>
            </tr>
            <tr  *ngFor="let number of [0,1,2,3,4,5,6,7]">
                <td>B</td>
                <td><div *ngIf="teamRoster.B[number]">
                  <a href="https://www.fangraphs.com/players/{{ teamRoster.B[number].fangraphs_name }}/{{ teamRoster.B[number].fangraphsId }}/stats" class="btn btn-success btn-sm">FG</a>
                  &nbsp;<a href="https://dafl.baseball.cbssports.com/players/playerpage/{{ teamRoster.B[number].cbs_id }}/" class="btn btn-primary btn-sm">CBS</a>
                  &nbsp;{{ teamRoster.B[number].name }}</div></td>
                <td><div *ngIf="teamRoster.B[number]">{{ teamRoster.B[number].salary }}</div></td>
                <td>
                    <span *ngIf="teamRoster.B[number]">
                      <button title='Move Player To'
                          (click)="MovePlayer(teamRoster.B[number].id, position)"
                          *ngFor="let position of teamRoster.B[number].eligiblePositions">
                        {{ position }}
                    </button>
                    </span>
                </td>
            </tr>
          </tbody>
    </table>
  </div>
</div>
