<h4><label>Count:</label><span>{{ protectedCount }}</span></h4>
<h4><label>Protected Salary:</label><span>{{ protectedSalary }}</span></h4>
<table class="table" *ngIf="roster">
  <thead>
    <tr>
      <th>Player</th>
      <th>ADP</th>
      <th>Eligible</th>
      <th>Salary</th>
      <th>Contract</th>
      <th>Protect</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let player of roster">
      <td>
        <a href="https://www.fangraphs.com/players/{{ player.fangraphs_name }}/{{ player.fangraphs_id }}/stats" class="btn btn-success btn-sm">FG</a>
        &nbsp;&nbsp;
        <a href="https://dafl.baseball.cbssports.com/players/playerpage/{{ player.cbs_id }}/" class="btn btn-primary btn-sm">CBS</a>
        &nbsp;&nbsp;
        {{ player.name }}
      </td>
      <td>{{ player.adp }}</td>
      <td>{{ player.eligible }}</td>
      <td>{{ player.new_salary }}</td>
      <td>{{ player.new_contract }}</td>
      <td><input type="checkbox" [value]="player.player_id" (change)="onProtectChange($event)" [checked]="player.protect" /></td>
    </tr>
  </tbody>
</table>
